/* Basic styles */
#footer {
  border-top: 1px solid rgb(77, 76, 76);
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 3rem;
}

.footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo,
.footer-options {
  margin: 0 20px; /* Add space between sections */
}

.footer-logo {
  display: flex;
  align-items: center; /* Vertically center */
}

.footer-options {
  display: flex;
  justify-content: flex-end; /* Align right */
  align-items: center; /* Vertically center */
}

.footer-logo p {
  font-size: 16px;
  font-weight:semi-bold;
}

.footer-options a {
  text-decoration: none; /* Remove underline */
  margin-left: 10px; /* Add space between links */
  font-size: 16px; /* Set font size */
}

.footer-options a:hover {
  color: #007bff; /* Blue on hover */
}

/* Mobile responsiveness (up to 768px) */
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column; /* Stack items vertically */
  }

  .footer-logo,
  .footer-options {
    margin:  0; /* Add margin between sections */
  }

  .footer-logo p {
    font-size: 14px;
  }

  .footer-options a {
    font-size: 12px;
  }
}

/* Laptop responsiveness (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  #footer {
    padding: 10px 0; /* Reduce padding */
  }

  .footer-logo p {
    font-size: 14px;
  }

  .footer-options a {
    font-size: 14px;
  }
}
