#signup {
    padding: 50px;
    border-radius: 5px;
    width:25rem;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px auto; /* Center the form vertically */
    border: 1px solid #ccc;
    }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .subform {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    color: #000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    }
  
  .signup-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer; /* Indicate clickable element */
    margin-top: 15px;
  }
  
  .signup-button:hover {
    background-color: #f9f9f9; /* Light grey background on hover */
  }
  
  .show-password {
    margin-top: 5px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }
  .show-password input[type="checkbox"] {
      margin-right: 5px;
    }

  .show-password label {
      margin-bottom: 0;
      font: 14px Arial, sans-serif;
    }
  /* Media Queries for Mobile Responsiveness (up to 768px) */
  @media (max-width: 768px) {
    #signup {
      padding: 15px;
      width: 70%;
    }
  
    input[type="text"],
    input[type="password"] {
      font-size: 14px;
    }
  
    .signup-button {
      font-size: 14px;
    }
  }
  