#login {
  padding: 50px;
  border-radius: 5px;
  width:25rem;
  margin:1rem 1rem 1rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px auto; /* Center the form vertically */
  border: 1px solid #ccc;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .subform {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
  }
  
  .login-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer; 
    margin-top: 15px;
    font-size: 18px;
  }
  
  .login-button:hover {
    background-color: #f9f9f9; 
  }
  
  .signup-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-link p {
    margin-bottom: 5px;
    color: #999;
  }
  
  .signup-link a {
    color: #3498db; /* Blue link color */
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  .show-password {
    margin-top: 5px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }
  .show-password input[type="checkbox"] {
      margin-right: 5px;
    }

  .show-password label {
      margin-bottom: 0;
      font: 14px Arial, sans-serif;
    }
  
  /* Media Queries for Mobile Responsiveness (up to 768px) */
  @media (max-width: 768px) {
    #login {
      padding: 15px;
    }
  
    input[type="text"] {
      font-size: 14px;
    }
  
    .login-button {
      font-size: 16px;
    }
  }
  